@use "../../../assets/styles/variables" as *;
@use "../../../assets/styles/mixins" as *;

.hero-cta-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $space-4;
  padding: $space-12 $space-16;
  min-width: 48px;
  height: 48px;
  border-radius: $radius-md;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 0 1px $gray-700;
  overflow: hidden;

  &--resume {
    background-color: $gray-700;
    color: $gray-100;

    .hero-cta-btn__icon svg,
    .hero-cta-btn__label {
      color: $gray-100;
    }

    .hero-cta-btn__label {
      font-size: $font-size-12;
      font-weight: $fw-semibold;
      text-transform: uppercase;
    }
  }

  &--light {
    background-color: $white;
    color: $gray-700;

    .hero-cta-btn__icon svg,
    .hero-cta-btn__label {
      color: $gray-700;
    }

    .hero-cta-btn__label {
      font-size: $font-size-12;
      font-weight: $fw-medium;
    }
  }

  .hero-cta-btn__icon {
    @include flex-center;
    flex-shrink: 0;
  }

  .hero-cta-btn__label {
    display: inline-block;
    overflow: hidden;
  }
}
