@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

// Main projects section container
.projects {
  width: 100%;

  .container {
    @include container;

    .projects__header-container {
      @include flex-between;
      padding: 0 0 $space-16 0;

      .projects__header {
        @include header_section;
      }

      .projects__button {
        color: $gray-600;
        font-size: $font-size-14;
        font-weight: $fw-semibold;
        @include next-button-style;
      }
    }

    // Projects grid
    .projects__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: $space-8;
      margin-top: $space-16;
      @media (max-width: $breakpoint-md) {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: $space-24;
      }

      @media (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
        gap: $space-16;
      }
    }
  }
}

.project-card {
  &__link {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
  }
}
