@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

// Main projects section container
.projects {
  @include section;

  .container {
    @include container;

    .projects__header-container {
      @include flex-between;
      padding: 0 0 $space-16 0;

      .projects__header {
        @include header_section;
      }

      .projects__button {
        color: $gray-600;
        font-size: $font-size-14;
        font-weight: $fw-semibold;
        @include next-button-style;

        @media (max-width: $breakpoint-md) {
          font-size: $font-size-12;
        }
      }
    }

    // Projects grid
    .projects__grid {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: $space-8;
      margin-top: $space-16;
    }
  }
}
