@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.btn {
  @include flex-center;
  @include sweep-hover($color-surface);
  cursor: pointer;
  background: $color-primary;
  justify-content: flex-start;
  color: $color-surface;
  gap: $space-16;
  width: fit-content;
  position: relative;
  overflow: hidden;
  padding: $space-16 $space-24;
  border-radius: 2rem;
  font-size: $font-size-16;
  font-weight: $fw-bold;
  @include primary-shadow;
  transition: all $transition-base;

  &:hover {
    background: $color-primary-hover;
    @include primary-shadow-hover;
  }

  &:active {
    background: $color-primary-hover;
    transform: translateY(0);
  }

  @media (max-width: $breakpoint-lg) {
    gap: $space-8;
    padding: $space-12 $space-16;
    font-size: $font-size-14;
    font-weight: $fw-semibold;

    svg {
      transform: translateY(2px);
    }
  }
}

@media (max-width: $breakpoint-md) {
  .hero__resume {
    .resume-btn {
      padding: $space-8 0;
      width: 70%;
      justify-content: center;
    }
  }
}
