@use "../../assets/styles" as *;

// menu transition
$menu-transition: 0.3s ease-in-out;

// line active color
@mixin line-active-color {
  .trigger__line {
    background-color: var(--gray-800);
  }
}

// menu styles
.header__menu {
  @include flex-center;
  position: relative;

  // menu trigger styles
  .menu__trigger {
    width: clamp($space-32, 5vw, $space-40);
    height: clamp($space-32, 5vw, $space-40);
    padding: 0 $space-4;
    border: none;
    border-radius: $radius-md;
    background: none;
    cursor: pointer;
    overflow: hidden;
    transition:
      background-color $menu-transition,
      backdrop-filter $menu-transition;

    .trigger__line {
      display: block;
      width: calc(100% - $space-4);
      height: 1px;
      margin: calc($space-8 - 1px) auto;
      background-color: var(--gray-500);
      transition:
        width $menu-transition,
        transform $menu-transition,
        background-color $menu-transition;

      &.first {
        width: 50%;
        transform: translateX(-37%);
      }

      &.third {
        width: 50%;
        transform: translateX(37%);
      }
    }

    &:is(:hover, .active) {
      @include glass-bg();
      @include line-active-color;
    }

    @media (hover: hover) {
      &:hover:not(.active) {
        .trigger__line {
          &.first {
            width: 100%;
            transform: translateX(0);
          }

          &.second {
            width: 50%;
            transform: translateX(50%);
          }

          &.third {
            width: 100%;
            transform: translateX(0);
          }
        }
      }
    }

    &.active {
      .trigger__line {
        &.first {
          width: 100%;
          transform: translateX(0) translateY(8px) rotate(45deg);
        }

        &.second {
          width: 0%;
          transform: translateX(0) rotate(0);
        }

        &.third {
          width: 100%;
          transform: translateX(0) translateY(-8px) rotate(-45deg);
        }
      }
    }

    @media (max-width: $breakpoint-md) {
      @include glass-bg(color-mix(in srgb, var(--white) 90%, transparent));
    }
  }

  .menu__container {
    position: absolute;
    top: calc(100% + $space-4);
    right: 0;
    min-width: 200px;
    padding: $space-12;
    background-color: var(--white);
    border: 1px solid var(--gray-300);
    border-radius: $radius-md;
    box-shadow: 0 0 $space-8
      color-mix(in srgb, var(--gray-800) 20%, transparent);
    z-index: $z-dropdown;

    .menu__section {
      .menu__title {
        font-size: $font-size-16;
        font-weight: $fw-bold;
        color: var(--gray-800);
        margin-bottom: $space-4;
      }
    }

    .theme__section {
      .theme__options {
        @include flex-center;
        justify-content: start;
        gap: $space-4;

        .option {
          @include flex-center;
          gap: $space-4;
          padding: $space-4;
          border-radius: $radius-md;
          background-color: var(--white);
          border: 1px solid var(--gray-500);
          cursor: pointer;

          .name,
          svg {
            font-size: $font-size-16;
            font-weight: $fw-bold;
            color: var(--gray-800);
          }

          &.active {
            background-color: var(--gray-800);
            border-color: var(--gray-100);

            .name,
            svg {
              color: var(--white);
            }
          }
        }
      }
    }
  }
}
