@use "../../../assets/styles" as *;

.imageViewer__frame {
  @include flex-center;
  position: relative;
  box-sizing: border-box;
  width: 100% !important;

  aspect-ratio: 1 / 1;
  overflow: hidden;
  background-color: var(--gray-100);
  user-select: none;
  touch-action: manipulation;

  @media (max-width: $breakpoint-md) {
    width: min(20rem, calc(100vw - #{$space-12}));
  }
}

.frame__image {
  width: calc(100% - $space-16) !important;
  height: calc(100% - $space-16) !important;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
  margin: clamp($space-4, 2vw, $space-8);
  border-radius: $radius-lg;
  user-select: none;
  -webkit-user-drag: none;

  @media (max-width: $breakpoint-md) {
    width: 100%;
    border-radius: $radius-md;
  }
}

