@use "../../../assets/styles/variables" as *;
@use "../../../assets/styles/mixins" as *;

.imageViewer {
  @include flex-center;

  &__frame {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    background-color: $gray-300;

    img {
      width: inherit;
      height: inherit;
      border-radius: inherit;
      object-fit: cover;
      transition: transform 0.3s ease;
    }
  }
}
