@use "../../../assets/styles" as *;

.imageViewer__frame {
  @include flex-center;
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  background-color: var(--gray-300);

  img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  > figcaption {
    display: none;
  }
}
