@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

// Individual project card styling
.project-card {
  @include flex-column;
  max-width: 370px;
  width: 100%;
  --height: 380px;
  height: var(--height);
  position: relative;
  z-index: 15;
  overflow: hidden;
  background: $white;
  border-radius: $radius-md;
  transition: all 0.3s ease;
  box-shadow: 0 0 $space-4 $gray-300;
  padding: clamp($space-8, 1vw, $space-16);

  // Hover effect for the card
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(175deg, var(--project-color) 0%, $white 30%);
    z-index: 0;
    transition: all 0.2s ease-in-out;
  }

  // Expand height on hover
  &:hover::before {
    height: 100%;
  }

  // Media Section
  .project-card__media {
    overflow: hidden;
    width: 100%;
    height: calc((var(--height) / 2) - 20px);
    background-color: $gray-100;
    border-radius: $radius-md;
    transition: all 0.3s ease;

    @media (max-width: $breakpoint-md) {
      height: calc((var(--height) / 2));
    }

    // Image styling
    .project-card__mediaImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  // Scale image on card hover
  &:hover .project-card__media {
    scale: 1.02;
  }

  // Details Section
  .project-card__details {
    padding: clamp($space-8, 1vw, $space-16) 0;

    // Title styling
    .project-card__title {
      @include next-button-style;
      justify-content: flex-start;
      width: fit-content;
      font-size: $font-size-14;
      color: $gray-600;
      font-weight: $fw-semibold;
      margin-bottom: $space-8;

      @media (max-width: $breakpoint-md) {
        font-size: $font-size-12 + px;
      }
    }

    // Content Section
    .project-card__content {
      @include flex-column;
      position: relative;
      z-index: 10;
      gap: $space-12;

      // Description styling
      .project-card__description {
        word-spacing: -1px;
        color: $gray-500;
        line-height: 1.5;
        font-size: $font-size-14;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @media (max-width: $breakpoint-md) {
          font-size: $font-size-12;
          word-spacing: 1;
        }
      }

      // Technologies List
      .project-card__technologies {
        display: flex;
        gap: $space-4;

        // Tech Item
        .project-card__tech-item,
        .project-card__tech-more {
          @include flex-center;
          align-items: center;
          gap: $space-4;
          border-radius: $radius-sm;
          padding: $space-4 $space-8;
          color: $gray-500;
          transition: all 0.3s ease;
          background-color: $gray-100;

          &:hover {
            color: $white;
            background-color: var(--colorTech);
          }

          svg {
            color: inherit !important;
            width: 12px;
          }

          span {
            color: inherit;
            font-weight: $fw-medium;
            text-transform: capitalize;
            font-size: $font-size-12;
          }

          @media (max-width: $breakpoint-md) {
            padding: $space-4 $space-4;

            span {
              font-size: $font-size-10;
            }
          }
        }

        // More technologies (button, no <a> tag)
        .project-card__tech-more {
          font-size: $font-size-14;
          border: none;
          cursor: pointer;
          font: inherit;
          &:hover {
            color: $white;
            background-color: $gray-700;
          }

          @media (max-width: $breakpoint-md) {
            font-size: $font-size-12;
          }
        }
      }
    }
  }

  // Title hover effect
  &:hover .project-card__details .project-card__title {
    color: $gray-700;

    &::after {
      display: none;
    }

    svg {
      transform: translateX(-3px);
      rotate: 45deg;
      color: inherit !important;
    }
  }
}
