@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.location {
  transition: all 0.3s ease-in-out;
  width: fit-content;
  position: relative;
  border: 1px solid transparent;
  cursor: none;

  // underline effect
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background: $color-primary;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
  }

  &:hover {
    transform: translateY(-2px);

    p {
      color: $color-primary;
    }

    &::after {
      width: 80%;
    }
  }

  p {
    color: $color-gray-500;
    font-size: $font-size-14;
    font-family: Georgia, "Times New Roman", Times, serif;

    @media (max-width: $breakpoint-md) {
      font-size: 9px;
      color: rgb($color-gray-500, 0.6);
    }
  }
}

.map-overlay {
  @include flex-center;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100dvh;
  background: rgba(45, 55, 72, 0.4);
  backdrop-filter: blur(20px) saturate(180%);
  z-index: 9999;

  .map-modal {
    @include flex-column;

    background-color: $color-surface-tertiary;
    border-radius: $space-16;
    max-width: 1200px;
    width: 92%;
    height: 90dvh;
    padding: 0;
    overflow: hidden;
    position: relative;

    .map-content {
      padding: 48px 40px 40px;
      height: inherit;
      @include flex-column;
      @media (max-width: $breakpoint-md) {
        padding: 60px $space-12 $space-8;
      }

      .map-container {
        position: relative;
        border-radius: $space-24;
        background: $color-shadow;
        height: inherit;
        overflow: hidden;

        .interactive-map-container {
          width: inherit;
          height: inherit;

          .leaflet-container {
            border-radius: 20px;
            height: inherit;
            width: inherit;
            background: #f8fafc;
          }

          .leaflet-control-attribution {
            display: none !important;
          }
        }
      }
    }
  }
}

.map-loading {
  @include flex-center;
  height: inherit;
}
