@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.location {
  transition: all 0.3s ease-in-out;
  width: fit-content;
  position: relative;
  border: 1px solid transparent;
  cursor: none;

  &:hover {
    transform: translateY(-1px);

    p {
      color: $gray-700;
    }
  }

  p {
    color: $gray-500;
    font-size: $font-size-14;
  }
}

.interactive-map-container {
  width: 100%;
  height: 80dvh;

  .leaflet-control-attribution {
    display: none !important;
  }

  .leaflet-container .leaflet-control-attribution {
    display: none !important;
  }
}
