@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.aside {
  .aside__map {
    flex: 1;
    border-radius: $radius-xl;
    background: $color-gray-200;
    box-shadow: 0 25px 65px rgba($color-black, 0.15);
    overflow: hidden;
    padding: $space-8;
    height: 500px;

    .interactive-map-container {
      width: 100%;
      height: 100%;

      .leaflet-container {
        width: 100%;
        height: 100%;
        border-radius: $radius-lg;
        background: #f8fafc;
      }

      .leaflet-control-attribution {
        display: none !important;
      }
    }
  }

  .aside__mapLoading {
    @include flex-center;
    width: 100%;
    height: 100%;
    border-radius: $radius-xl;
    background: rgba($color-gray-200, 0.6);
    color: $color-gray-600;
    font-size: $font-size-14;
    letter-spacing: 0.5px;
  }
}
