@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.projects-page {
  @include section;

  .container {
    @include container;
    top: 55px;

    .projects-page__header {
      @include header_section;
    }

    .projects__empty {
      @include flex-center;
      min-height: inherit;
      color: $gray-400;
      font-size: $font-size-18;
    }

    // Projects Grid
    .projects__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $space-24;
      padding: $space-16 0;
    }
  }
}
