@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.projects-page {
  width: 100%;
  min-height: calc(100vh - 260px);
  overflow: hidden;

  .container {
    @include container;
    min-height: inherit;

    .projects-page__header {
      @include header_section;
    }

    .projects__empty {
      @include flex-center;
      min-height: inherit;
      color: $color-text-muted;
      font-size: $font-size-18;
    }

    // Projects Grid
    .projects__grid {
      @include flex-center;
      flex-wrap: wrap;
      gap: $space-24;
      padding: $space-16 0;
    }
  }
}
