@use "../../../assets/styles/variables" as *;
@use "../../../assets/styles/mixins" as *;

.hero__media {
  @include sweep-hover($color-surface);
  width: inherit;
  height: inherit;
  position: relative;
  overflow: hidden;
  border-radius: $radius-xl;
  clip-path: url(#heroImageShape);
  cursor: pointer;

  @media (max-width: $breakpoint-md) {
    --img_size: clamp(2rem, 6.25rem, 5.5rem);
    border-radius: 50%;
    width: var(--img_size);
    height: var(--img_size);
    clip-path: none;
  }

  .hero__image {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: top;
    scale: 1.6;
  }
}
