@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
// HERO SECTION - START
.hero {
  width: 100%;
  // margin-top: 80px;

  .container {
    @include container;
    padding-top: 0;

    .hero__map {
      width: 100%;
      height: 250px;
      background-color: $gray-100;
      position: relative;
      z-index: 5;
      overflow: hidden;
      border-radius: $radius-lg;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 7%;
        z-index: 5;
        box-shadow: inset 0px -10px 5px 0px $white;
        border-radius: 0 0 $radius-lg $radius-lg;
        background-color: transparent;
      }

      .interactive-map-container {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 4;

        .leaflet-container {
          width: 100%;
          height: 100%;
          border-radius: $radius-lg;
          background: #f8fafc;
        }

        .leaflet-control-attribution {
          display: none !important;
        }
      }
    }

    .hero__mapLoading {
      @include flex-center;
      width: 100%;
      height: 100%;
      background-color: $gray-100;
      border-radius: $radius-lg;
      color: $gray-400;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
    }

    .hero__profile {
      padding-right: $space-16;
      display: flex;

      .hero__media {
        margin-top: -70px;
        margin-left: calc($space-32 - 2px);
        --square-size: 150px;
        width: var(--square-size);
        aspect-ratio: 1/1;
        border-radius: 50%;
        overflow: hidden;
        border: $space-4 solid $white;
        position: relative;
        z-index: 155;
        cursor: pointer;
        @include sweep-hover($white);
        background-color: $gray-100;
        .hero__image {
          object-fit: contain;
          object-position: top;
          width: 100%;
          height: 100%;
          scale: 1.9;
          transition: all 0.3s ease-in-out;
        }
        &:hover .hero__image {
          scale: 2;
        }
      }

      .hero__info {
        margin-left: $space-8;
        max-width: 350px;
        @include flex-column;
        gap: $space-4;

        .hero__title {
          display: flex;
          align-items: center;
          gap: $space-4;
          font-size: $font-size-18;
          color: $gray-700;
          .verified-badge {
            width: $space-16;
            height: $space-16;
          }
        }

        .hero__subtitle {
          font-size: $font-size-12;
          color: $gray-600;
        }
      }

      .hero__cta {
        @include flex-center;
        margin-left: auto;
        gap: $space-8;

        .hero__social {
          display: flex;
          gap: inherit;

          .hero__social-link {
            @include flex-center;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 1px solid rgba($gray-200, 0.8);
            background: $gray-200;
            color: $gray-700;
            font-size: $font-size-16;
            transition: all 0.2s ease-in;

            &:hover,
            &:focus-visible {
              background-color: var(--link-color);
              color: $gray-100;
              border-color: transparent;
              scale: 1.17;
            }
          }
        }

        .resume-btn {
          display: inline-flex;
          align-items: center;
          justify-content: space-between;
          gap: $space-8;
          padding: $space-8 $space-4 $space-8 $space-16;
          width: 115px;
          height: 40px;
          border-radius: $radius-2xl;
          background-color: $gray-800;
          border: 1px solid $gray-800;
          text-decoration: none;
          color: $white;
          position: relative;
          overflow: hidden;
          transition: all 0.2s ease-in;

          .resume__title {
            color: $gray-100;
            font-size: $font-size-12;
            font-weight: $fw-semibold;
            text-transform: uppercase;
            letter-spacing: 0.05em;
          }

          .resume__icon {
            background: $white;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            @include flex-center;
            transition: inherit;

            svg {
              color: $gray-900;
              font-size: $font-size-16;
              transition: inherit;
            }
          }

          &:hover,
          &:focus-within {
            position: relative;
            scale: 0.95;
            .resume__icon {
              position: absolute;
              top: 0;
              right: 0;
              height: 100%;
              width: 100%;
              border-radius: initial;
              justify-content: flex-end;
              z-index: 1;
              svg {
                transform: translate(-14px, -2px);
              }
            }

            .resume__title {
              position: relative;
              color: $gray-800;
              z-index: 2;
            }
          }
        }
      }
    }
  }
}
// HERO SECTION - END
