@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
// HERO SECTION - START
.hero {
  @include flex-center;
  width: 100%;
  height: 100dvh;
  background-color: $color-white;

  // HERO CONTAINER - START
  .container {
    @include container;
    padding: 0 !important;
    position: relative;
    height: 700px;
    @media (max-width: $breakpoint-md) {
      height: 85dvh;
    }

    // HERO INFO (desktop) - START
    .hero__info {
      @include flex-column;
      padding: $space-8;
      width: fit-content;
      position: absolute;
      left: 52%;

      .hero__title {
        @include flex-center;
        justify-content: start;
        gap: $space-4;
        color: $color-gray-700;
        font-size: clamp(1.9rem, 1.2vw + 1rem, 3rem);
        font-weight: $fw-bold;
      }

      .hero__subtitle {
        color: $color-gray-700;
        font-size: clamp(1rem, 1.2vw + 1rem, 2rem);
        font-weight: $fw-regular;
        text-align: center;
        display: flex;
        align-items: center;
      }

      @media (max-width: $breakpoint-md) {
        display: none;
      }
    }
    // HERO INFO (desktop) - END

    // HERO CONTENT GRID - START
    .content {
      width: inherit;
      height: inherit;
      background-color: $color-gray-100;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      align-items: center;
      padding: clamp(1rem, 2vw, 3rem);
      border-radius: $radius-xl;
      clip-path: url(#heroContainerShape);
      overflow: hidden;

      @media (max-width: $breakpoint-md) {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        clip-path: url(#customShape);
      }

      // HERO PROFILE - START (left column media container)
      .hero__profile {
        width: 100%;
        height: 100%;
        overflow-y: hidden;
        position: relative;
        display: flex;
        align-items: center;

        @media (max-width: $breakpoint-md) {
          overflow: visible;
        }

        // HERO INFO (mobile) - START
        .hero__info-mobile {
          display: none;
          @media (max-width: $breakpoint-md) {
            display: block;
            padding: $space-8;

            .hero__title-mobile {
              color: $color-gray-700;
              font-size: clamp(1rem, 1.5vw + 0.66rem, 2rem);
              font-weight: $fw-regular;
              @include flex-center;
              justify-content: start;
              gap: $space-4;
              svg {
                width: 15px;
              }
            }
            .hero__subtitle-mobile {
              max-width: 14rem;
              font-size: clamp(0.65rem, 1vw + 0.35rem, 0.875rem);
              word-spacing: -1px;
              color: $color-gray-500;
            }
          }
        }
        // HERO INFO (mobile) - END
      }
      // HERO PROFILE - END

      // HERO DETAILS - START
      .hero__details {
        height: 100%;
        padding: $space-8;
        position: relative;

        // HERO CONTENT INNER - START
        .hero__content {
          @include flex-center;
          flex-direction: column;
          height: inherit;
          position: relative;

          // HERO DESCRIPTION - START
          .hero__description {
            color: $color-gray-700-hover;
            font-size: clamp(1.5rem, 1vw, 2rem);
            line-height: 1.7;
            word-spacing: -1.5px;
            margin-left: $space-16;

            @media (max-width: $breakpoint-md) {
              text-align: center;
              font-size: clamp(1.25rem, 1.5vw + 0.8rem, 1.875rem);
            }
            svg {
              color: $color-gray-600;
              width: 35px;
              font-size: 15px;
              @media (max-width: $breakpoint-md) {
                width: $font-size-24;
              }
            }
            svg:last-of-type {
              rotate: 180deg;
            }
          }
          // HERO DESCRIPTION - END

          // HERO RESUME BUTTON - START
          .hero__resume {
            position: absolute;
            right: 0;
            bottom: 0;
          }
          // HERO RESUME BUTTON - END
        }
        // HERO CONTENT INNER - END
      }
      // HERO DETAILS - END
    }
    // HERO CONTENT GRID - END
  }
  // HERO CONTAINER - END
}
// HERO SECTION - END
