@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
// HERO SECTION - START
.hero {
  width: 100%;
  margin-top: 50px;

  .container {
    @include container;

    .hero__map {
      width: 100%;
      height: 250px;
      background-color: $gray-100;
      position: relative;
      z-index: 5;
      overflow: hidden;
      border-radius: $radius-lg;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 7%;
        z-index: 5;
        box-shadow: inset 0px -10px 5px 0px $white;
        border-radius: 0 0 $radius-lg $radius-lg;
        background-color: transparent;
      }

      .interactive-map-container {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 4;

        .leaflet-container {
          width: 100%;
          height: 100%;
          border-radius: $radius-lg;
          background: #f8fafc;
        }

        .leaflet-control-attribution {
          display: none !important;
        }
      }
    }

    .hero__mapLoading {
      @include flex-center;
      width: 100%;
      height: 100%;
      background-color: $gray-100;
      border-radius: $radius-lg;
      color: $gray-400;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
    }

    .hero__profile {
      padding-right: $space-16;
      display: flex;

      .hero__media {
        --square-size: 150px;
        width: var(--square-size);
        height: var(--square-size);
        margin-top: -70px;
        margin-left: calc($space-32 - 2px);
        border-radius: 50%;
        overflow: hidden;
        border: $space-4 solid $white;
        position: relative;
        z-index: 155;
        cursor: pointer;
        @include sweep-hover($white);
        background-color: $gray-100;

        .hero__image {
          object-fit: cover;
          object-position: top;
          width: inherit;
          height: inherit;
          scale: 1.8;
          transition: all 0.3s ease-in-out;
        }

        user-select: none;
        -webkit-user-drag: none;
      }

      .hero__info {
        margin-left: $space-8;
        max-width: 350px;
        @include flex-column;
        gap: $space-4;

        .hero__title {
          display: flex;
          align-items: center;
          gap: $space-4;
          font-size: $font-size-18;
          color: $gray-700;
          .verified-badge {
            width: $space-16;
            height: $space-16;
          }
        }

        .hero__subtitle {
          font-size: $font-size-12;
          color: $gray-600;
          span {
            color: $gray-500;
          }
        }
      }

      .hero__cta {
        @include flex-center;
        margin-left: auto;
        gap: $space-8;

        .resume-btn {
          display: inline-flex;
          align-items: center;
          justify-content: space-between;
          gap: $space-8;
          padding: $space-8 $space-4 $space-8 $space-16;
          width: 115px;
          height: 40px;
          border-radius: $radius-md;
          background-color: $gray-700;
          border: 1px solid $gray-600;
          text-decoration: none;
          color: $white;
          position: relative;
          overflow: hidden;
          transition: all 0.2s ease-in;

          .resume__title {
            color: $gray-100;
            font-size: $font-size-12;
            font-weight: $fw-semibold;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            transition: inherit;
            transition-delay: 0.4s !important;
          }

          .resume__icon {
            @include flex-center;
            background: $white;
            width: 28px;
            height: 28px;
            border-radius: $radius-md;
            transition: inherit;

            svg {
              color: $gray-700;
              font-size: $font-size-16;
              transition: inherit;
            }
          }

          &:hover,
          &:focus-within {
            .resume__icon {
              scale: 7;
              svg {
                scale: 0.2;
              }
            }

            .resume__title {
              color: $gray-700;
              z-index: 2;
            }
          }
        }
      }
    }
  }
}
// HERO SECTION - END
.social_carousel_btn {
  --hero-social-btn-size: 40px;

  width: var(--hero-social-btn-size);
  height: var(--hero-social-btn-size);
  border-radius: 50%;
  border: none;
  background-color: $white;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  /* EMBLA (carousel) */
  .container {
    display: flex;
    height: 100%;
    opacity: 0; // hidden by default
    pointer-events: none;
    transition: opacity 0.2s ease;

    .item {
      @include flex-center;
      flex: 0 0 var(--hero-social-btn-size);
      height: 100%;
      color: $gray-700;
    }
  }

  /* DEFAULT ICON */
  .hover_icon {
    position: absolute;
    inset: 0;
    @include flex-center;
    color: $gray-700;
    background-color: $white;

    opacity: 1; // visible by default
    transform: scale(1);
    transition:
      opacity 0.2s ease,
      transform 0.2s ease;
  }

  /* HOVER STATE */
  &:hover {
    .container {
      opacity: 1; // show carousel
      pointer-events: auto;
    }

    .hover_icon {
      opacity: 0; // hide static icon
      transform: scale(0.85);
    }
  }
}
