@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.about {
  width: 100%;

  .container {
    @include container;

    .about__header {
      @include header_section;
    }

    .about__content {
      margin: $space-16 0;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-columns: 1fr auto;
      gap: $space-16;

      .about__me {
        width: 90%;
        position: relative;
        z-index: 3;

        .about__info {
          text-indent: $space-12;
          font-size: $font-size-14;
          font-weight: 100;
          line-height: 1.6;
        }
      }

      .about__intro-video {
        border-radius: $radius-lg;
        position: relative;
        z-index: 1;

        .myvideo_intro {
          width: 350px;
          height: 430px;
          object-fit: cover;
        }

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          background-color: $gray-300;
          top: 0;
          left: 0;
          position: absolute;
          rotate: -5deg;
          border-radius: inherit;
          z-index: -1;
          scale: 1.05;
          transition: all 0.3s ease-in-out;
        }
        &:hover::before {
          background-color: $gray-400;
          rotate: 5deg;
        }
      }
    }
  }
}
