@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.about {
  @include section;

  .container {
    @include container;

    .about__header {
      @include header_section;
    }

    .about__content {
      width: 100%;
      margin: $space-16 0 0;

      .about__info {
        text-indent: $space-12;
        font-size: $font-size-14;
        font-weight: $fw-regular;
        line-height: 1.8;
        width: 100%;
        color: $gray-800;
      }
    }
  }
}
