@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.about {
  background-color: $color-bg;
  padding: calc($space-40 + 2rem) 0 calc($space-40 + 9rem);

  .container {
    @include container;

    // Header Section
    .about__header {
      @include section-title;
      margin-bottom: $space-40 + 5rem;
    }

    // Main Content
    .about__main-content {
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      gap: $space-40;
      align-items: start;

      // Left Column - Profile Image
      .about__image {
        grid-column: span 1;
        width: 300px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        transition: all 0.3s ease;
        position: relative;
        overflow: hidden;
        box-shadow: -55px 50px 0px rgba(45, 55, 72, 0.15);

        img {
          transform: scale(1.2);
          object-fit: cover;
          position: absolute;
          width: 100%;
          aspect-ratio: 1 / 1;
        }

        @include sweep-hover($color-bg);

        &:hover {
          box-shadow: -25px -25px 0px rgba(45, 55, 72, 0.2);
          scale: 1.05;
        }
      }

      // Right Column
      .about__info {
        grid-column: span 1;
        @include flex-column;
        gap: $space-40;

        // Intro Paragraph
        .about__intro {
          max-width: 42rem;

          p {
            font-size: $font-size-18;
            color: $color-text-muted;
            line-height: 1.7;
            margin: 0;
          }
        }

        .about__btn {
          display: flex;
          gap: $space-16;

          .show__projects {
            background-color: transparent;
            color: $color-primary;
            border-radius: 0;
            padding: 0;
            box-shadow: inset 0 -1px 0 transparent;
            transition: box-shadow 0.3s ease-in-out;
            &:hover {
              box-shadow: inset 0 -1px 0 $color-primary;
            }
          }
          .hire__me {
            background-color: $color-primary;
            @include primary-shadow;
            &:hover {
              background-color: $color-primary-hover;
              @include primary-shadow-hover;
            }
          }
        }
      }
      // Quick Facts Grid
      .about__facts {
        grid-column: span 2;

        .facts-grid {
          @include flex-center;
          flex-wrap: wrap;
          gap: $space-32;

          .fact-card {
            @include flex-column;
            align-items: center;
            gap: $space-16;
            @include interactive-card;
            padding: calc($space-40 + 1rem) $space-16;
            width: 260px;
            aspect-ratio: 1 / 1;
            border-radius: 16px;
            position: relative;
            overflow: hidden;

            // Card corner design
            &::before,
            &::after {
              content: "";
              position: absolute;
              width: 40px;
              aspect-ratio: 1 / 1;
              border-radius: 16px 0 16px 0;
              z-index: 1;
              @include primary-gradient;
            }
            &::before {
              top: 0;
              left: 0;
            }

            &::after {
              bottom: 0;
              right: 0;
            }

            .fact-icon {
              position: absolute;
              bottom: -85px;
              left: 0;
              font-size: 10rem;
              opacity: 0.1;
              color: $color-primary-hover;
            }

            .fact-content {
              @include flex-column;
              text-align: center;
              gap: $space-12;
              flex: 1;

              .fact-label {
                font-size: $font-size-24;
                color: $color-text;
                font-weight: $fw-bold;
              }

              .fact-value {
                font-size: $font-size-16;
                color: $color-primary-500;
              }
            }
          }
        }
      }
    }
  }
}
