@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.about {
  width: 100%;

  .container {
    @include container;

    .about__header {
      @include header_section;
    }

    .about__content {
      margin: $space-16 0;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-columns: 1fr auto;
      gap: $space-16;

      .about__me {
        width: 90%;
        position: relative;
        z-index: 3;

        .about__info {
          p {
            text-indent: $space-12;
            font-size: $font-size-14;
            font-weight: 100;
            line-height: 1.6;
          }
        }
      }

      // .about__facts {
      //   grid-area: 2 / span 2;
      //   display: flex;
      //   gap: $space-8;
      //   position: relative;
      //   z-index: 2;

      //   .fact-card {
      //     background: linear-gradient(135deg, $white, $gray-200);
      //     border-radius: $radius-lg;
      //     padding: $space-16;
      //     border: 1px solid rgba($gray-400, 0.35);
      //     min-height: 180px;
      //     @include flex-column;
      //     gap: $space-16;
      //     position: relative;
      //     overflow: hidden;
      //     transition: all 0.3s ease-in-out;

      //     &:hover {
      //       transform: translateY(-1px);
      //       box-shadow: $shadow-lg;
      //     }

      //     .fact-card__content {
      //       @include flex-center;
      //       justify-content: start;
      //       gap: $space-8;
      //       .fact-card__icon {
      //         @include flex-center;
      //         width: 54px;
      //         height: 54px;
      //         font-size: $font-size-20;
      //         border-radius: $radius-lg;
      //         color: $gray-800;
      //         background: $gray-200;
      //       }

      //       .fact-card__label {
      //         width: fit-content;
      //         text-transform: uppercase;
      //         letter-spacing: -1px;
      //         font-size: $font-size-14;
      //         color: $gray-800;
      //         font-weight: $fw-semibold;
      //       }
      //     }

      //     .fact-card__text {
      //       color: $gray-950;
      //       font-size: calc($font-size-16 - 3px);
      //       line-height: 1.7;
      //     }
      //   }
      // }

      .about__intro-video {
        border-radius: $radius-lg;
        position: relative;
        z-index: 1;

        .myvideo_intro {
          width: 350px;
          height: 430px;
          object-fit: cover;
        }

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          background-color: $gray-300;
          top: 0;
          left: 0;
          position: absolute;
          rotate: -5deg;
          border-radius: inherit;
          z-index: -1;
          scale: 1.05;
          transition: all 0.3s ease-in-out;
        }
        &:hover::before {
          background-color: $gray-400;
          rotate: 5deg;
        }
      }
    }
  }
}
