@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.about {
  width: 100%;

  .container {
    @include container;

    .about__header {
      @include header_section;
    }

    .about__content {
      margin: $space-16 0 0;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-columns: 1fr auto;
      gap: $space-16;

      .about__info {
        text-indent: $space-8;
        font-size: $font-size-14;
        font-weight: 100;
        line-height: 1.7;
        width: 100%;
        position: relative;
        z-index: 3;
        color: $gray-700;
      }
    }
  }
}
