@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.about {
  width: 100%;

  .container {
    @include container;

    .about__header {
      @include header_section;
    }

    .about__content {
      margin: 15px 0;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-columns: 1fr auto;
      gap: 15px;

      .about__me {
        .about__info {
          p {
            text-indent: 0.7rem;
            font-size: 0.878rem;
            font-weight: 100;
            line-height: 1.6;
          }
        }
      }

      .about__facts {
        grid-area: 2 / span 2;
        display: flex;
        gap: 0.5rem;

        .fact-card {
          @include glass-effect-surface;
          border-radius: $radius-lg;
          padding: 1.5rem;
          border: 1px solid rgba($color-primary-500, 0.35);
          min-height: 180px;
          display: flex;
          flex-direction: column;
          gap: $space-16;
          position: relative;
          overflow: hidden;
          transition: all 0.3s ease-in-out;

          &:hover {
            box-shadow: $shadow-lg;
            border-radius: 25px;
          }

          &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: radial-gradient(
              circle at top right,
              rgba($color-primary, 0.08),
              transparent 55%
            );
            pointer-events: none;
          }

          .fact-card__icon {
            width: 54px;
            height: 54px;
            border-radius: $radius-lg;
            @include flex-center;
            font-size: 1.6rem;
            color: $color-primary;
            background: rgba($color-primary, 0.08);
            border: 1px solid rgba($color-border, 0.7);
          }

          .fact-card__content {
            display: flex;
            flex-direction: column;
            gap: $space-8;
          }

          .fact-card__label {
            text-transform: uppercase;
            letter-spacing: 0.001em;
            font-size: $font-size-14;
            color: $color-text-muted;
            font-weight: $fw-semibold;
          }

          .fact-card__text {
            color: $color-text;
            font-size: 13px;
            line-height: 1.5;
            // font-weight: $fw-medium;
          }
        }
      }

      .about__intro-video {
        border-radius: 15px;
        box-shadow: 0px 0 100px 0 $gray-400;
        border: solid 1px red;
        z-index: -1;
        .myvideo_intro {
          width: 350px;
          height: 430px;
          object-fit: cover;
        }
      }
    }
  }
}
