@use "../../assets/styles" as *;

// Navigation
.nav {
  @include flex-center;
  position: relative;
  padding: $space-4;

  // icon
  &__icon {
    display: none;
    @media (max-width: $breakpoint-md) {
      display: block;
    }
  }

  // list
  &__list {
    @include flex-between;
    gap: $space-4;
    height: 100%;

    // item
    .nav__item {
      display: flex;

      // link
      .nav__link {
        color: var(--gray-500);
        font-size: clamp($font-size-12, 2vw, $font-size-16);
        padding: clamp($space-4, 1vw, $space-8);
        @include flex-center;

        @media (max-width: $breakpoint-md) {
          @include flex-column;
          width: 80px;
        }

        // inner
        .nav__link__inner {
          display: inline-block;
          overflow: hidden;
          height: 1.25em;

          // slide
          .nav__link__slide {
            @include flex-column;
            will-change: transform;
            color: inherit;
            transform: translateY(0);
            transition:
              transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1),
              color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
          }
        }

        // hover slide
        &:hover .nav__link__slide {
          transform: translateY(-52%);

          @media (min-width: $breakpoint-md) {
            color: var(--gray-900);
          }
        }

        // text
        .nav__link__text {
          @include flex-center;
          padding: $space-8 $space-12;
          flex-shrink: 0;
          height: 1.25em;
          white-space: nowrap;
          font-weight: $fw-semibold;
        }

        // active
        &.active {
          color: var(--gray-900);
          font-weight: $fw-bold;
          @media (max-width: $breakpoint-md) {
            background-color: var(--gray-100);
            border-radius: $radius-xl;
          }
        }
      }
    }
  }
}
