@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.nav {
  @include flex-center;
  width: 100%;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-51%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $gray-300;
    animation: nav-dot-pulse 6s ease-in-out infinite;
  }

  &::before {
    left: -4px;
  }

  &::after {
    right: -4px;
  }

  .nav__list {
    @include flex-between;
    gap: $space-4;
    width: fit-content;

    .nav__item {
      display: flex;

      .nav__link {
        color: $gray-500;
        font-size: $font-size-14;
        padding: $space-8 $space-12;

        .nav__link__inner {
          display: inline-block;
          overflow: hidden;
          height: 1.25em;
          line-height: 1.25;

          .nav__link__slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            will-change: transform;
          }
        }

        .nav__link__text {
          padding: $space-8 $space-12;
          flex-shrink: 0;
          height: 1.25em;
          display: flex;
          align-items: center;
          justify-content: center;
          white-space: nowrap;
        }

        &.active {
          color: $gray-800;
          font-weight: $fw-semibold;
          text-decoration: underline curve;
        }
      }
    }
  }
}

@keyframes nav-dot-pulse {
  0%,
  100% {
    background-color: $gray-200;
  }

  25% {
    background-color: $gray-300;
  }

  50% {
    background-color: $gray-400;
  }
  75% {
    background-color: $gray-500;
  }
}
