@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.nav {
  .nav__list {
    @include flex-center;
    margin: 0;
    padding: 20px 0;
    list-style: none;
    .nav__item {
      display: flex;
      a {
        background: none;
        border: none;
        cursor: pointer;
        position: relative;
        color: $gray-500;
        font-size: $font-size-14;
        padding: $space-8 $space-16;
        font-family: "Shadows Into Light", cursive;
      }
    }
  }
}
