@use "../../../assets/styles" as *;

// Video viewer section
.videoViewer {
  position: relative;
}

// Video viewer frame section
.videoViewer__frame {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: calc($modal-max-width-lg - $space-16);
  margin: $space-8;
  border-radius: $radius-lg;
  aspect-ratio: 16 / 9;
  background-color: var(--gray-300);

  @media (max-width: $breakpoint-md) {
    width: calc(100% - $space-8);
    margin: $space-4;
    border-radius: $radius-md;
  }
  // Video element section
  > video,
  // My video intro section
  > .myvideo__intro {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: inherit;
    user-select: none;
    -webkit-user-drag: none;
  }
}
