@use "../../../assets/styles/variables" as *;
@use "../../../assets/styles/mixins" as *;

.videoViewer {
  position: relative;
}

.videoViewer__frame {
  cursor: pointer;
  position: relative;
  border-radius: 16px;
  will-change: transform, width, height;
  width: fit-content;
  height: 100%;
  overflow: hidden;

  > video,
  > .myvideo_intro {
    display: block;
    width: 100%;
    height: inherit;
    border-radius: 12px;
    object-fit: cover;
  }
}
