@use "../../assets/styles" as *;

// Modal overlay section
.modal__overlay {
  all: unset;
  @include flex-center;
  position: fixed;
  inset: 0;
  z-index: $z-modal; // Modal z-index
  background: color-mix(
    in srgb,
    var(--gray-600) 20%,
    transparent
  ); // Modal overlay background color
  backdrop-filter: blur(5px); // Modal overlay backdrop filter
  transition: opacity 0.2s ease; // Modal overlay transition
  overflow: hidden; // Modal overlay overflow

  // Modal container section
  .modal__container {
    --modal-max-width: 45.3125rem;

    position: relative;
    @include flex-column;
    width: auto;
    max-width: min(92vw, var(--modal-max-width));
    max-height: $modal-max-height-desktop;
    @media (max-width: $breakpoint-md) {
      max-height: $modal-max-height-mobile;
    }
    background-color: var(--gray-100);
    border-radius: $radius-lg;
    box-shadow: 0 0 40px 0 color-mix(in srgb, var(--gray-500) 80%, transparent);
    overflow: hidden;
    transition:
      transform 0.2s ease,
      opacity 0.2s ease;

    // Small modal section
    &.small {
      --modal-max-width: 28rem;
    }

    // Medium modal section
    &.medium {
      --modal-max-width: 36rem;
    }

    // Large modal section
    &.large {
      --modal-max-width: 45.3125rem;
    }

    // Modal header section
    .modal__header {
      @include flex-between;
      padding: $space-24;
      flex-shrink: 0;

      @media (max-width: $breakpoint-md) {
        padding: $space-12 $space-8;
      }

      // Modal header title section
      &-title {
        margin: 0;
        font-size: $font-size-24;
        font-weight: $fw-bold;
        color: var(--gray-900);
      }
    }

    // Modal content section
    .modal__content {
      flex: 1 1 auto;
      min-height: 0;
      padding: 0;
      overflow-y: auto;

      // Modal content close button section
      .modal__content-close {
        position: absolute;
        top: clamp($space-12, 1.2vw, $space-16);
        right: clamp($space-8, 1.2vw, $space-16);
        z-index: $z-modal-content;
      }
    }
  }
}
