@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

// start modal overlay
.modal__overlay {
  all: unset;
  position: fixed;
  inset: 0;
  z-index: 9999;
  @include flex-center;
  background: rgb($gray-600, 0.5);
  backdrop-filter: blur(10px) saturate(100%);
  transition: opacity 0.2s ease;
  overflow: hidden;

  // start modal container
  .modal__container {
    position: relative;
    background-color: $gray-200;
    border-radius: $radius-lg;
    box-shadow: 0 0px 50px 0px rgb($gray-800, 0.8);
    width: 90%;
    max-height: 90dvh;
    overflow: hidden;
    transition: all 0.2s ease;
    transform: scale(0.95);
    opacity: 0;

    // start animating
    &.animating {
      transform: scale(1);
      opacity: 1;
    }

    // start closing
    &.closing {
      transform: scale(0.95);
      opacity: 0;
    }

    // Size variants
    &.small {
      max-width: 448px;
    }

    &.medium {
      max-width: 512px;
    }

    &.large {
      max-width: 896px;
    }

    &.xlarge {
      max-width: 1152px;
    }

    // start modal header
    .modal__header {
      @include flex-between;
      padding: $space-24;
      border-bottom: 1px solid #e5e7eb;

      &-title {
        font-size: $font-size-24;
        font-weight: $fw-bold;
        color: $color-text;
        margin: 0;
      }
    }

    // start modal content
    .modal__content {
      padding: 0;

      .modal__content-close {
        position: absolute;
        top: $space-16;
        right: $space-16;
        z-index: 1001;
      }
    }
  }
}
