/* Global styles for footer positioning */
@use "../assets/styles/variables" as *;
@use "../assets/styles/mixins" as *;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
