/* Global styles for footer positioning */
@use "../assets/styles/variables" as *;
@use "../assets/styles/mixins" as *;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #aed2c9;
  background: linear-gradient(0deg, green, rgba(255, 255, 255, 1) 100%);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
