@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.header {
  width: 100%;
  background-color: $white;
  .header__container {
    @include flex-between;
    @include container;
    position: relative;
    padding: 0;
  }
}
