@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.header {
  position: fixed;
  width: 100%;
  padding: $space-16 0 0;
  background-color: transparent;
  z-index: 120000;

  .header__container {
    @include container;
    @include flex-center;
    min-height: 40px;
    background-color: $white;
    border-radius: $radius-2xl;
    padding: $space-4 $space-8;
    box-shadow: 0 0 1px $gray-300;
    overflow: hidden;

    @media (max-width: $breakpoint-md) {
      border-radius: 0;
      padding: 0;
      height: 60px;
    }
  }
  @media (min-width: $breakpoint-md) {
    top: 0;
    left: 0;
  }

  @media (max-width: $breakpoint-md) {
    display: flex !important;
    left: 0 !important;
    bottom: 0 !important;
    padding: 0 !important;
  }
}
