@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.header {
  width: 100%;
  background-color: $white;
  .header__container {
    @include flex-between;
    max-width: 900px;
    position: relative;
    margin: 0 auto;
    padding: 0;
  }
}
