@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  background-color: rgb($white, 0.8);
  // filter: blur(15px);

  .header__container {
    @include container;
    @include flex-between;
    position: relative;
  }
}
