@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: $space-16 0 0;
  background-color: transparent;
  z-index: 120000;

  .header__container {
    @include container;
    @include flex-center;
    min-height: 40px;
    background-color: $white;
    border-radius: $radius-2xl;
    padding: $space-4 $space-8;
    box-shadow: 0 0 1px $gray-300;
    overflow: hidden;
  }
}
