@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.close-button {
  @include flex-center;
  width: 40px;
  aspect-ratio: 1/1;
  background: $gray-500;
  border: none;
  border-radius: 50%;
  color: $white;
  font-size: $font-size-18;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 10;

  &:hover {
    background: $gray-600;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95);
  }

  // Icon styling
  svg {
    width: 18px;
    height: 18px;
  }
}
