@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.imageViewer {
  @include flex-center;

  &__frame {
    position: relative;
    max-width: 800px;
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 15px;
    overflow: hidden;
    background-color: $gray-300;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);

    img {
      width: 100%;
      height: 100%;
      border-radius: 15px;
      object-fit: cover;
      transition: transform 0.3s ease;
    }
  }
}
