@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.footer {
  background-color: $color-primary-hover;
  color: #c9d1d9;
  padding: $space-24;

  .footer__container {
    @include container;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  // Main Footer Row
  .footer__main {
    @include flex-center;
    // Copyright
    .footer__copyright {
      p {
        margin: 0;
        font-size: 0.875rem;
        color: $color-text-lighter;
        font-weight: 400;
      }
    }
  }
}
