@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

// start skills section
.skills {
  width: 100%;

  // main container
  .container {
    @include container;

    // header
    .skills__header {
      @include header_section;
    }

    // content
    .skills__content {
      padding: $space-16 0;
      position: relative;
      z-index: 1;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
      gap: $space-16;

      // skill card
      .skill-card {
        cursor: pointer;
        @include flex-column;
        align-items: center;
        padding: $space-32 $space-16;
        border-radius: $radius-lg;
        box-shadow: 0 0 0 2px var(--skill-color);
        background-color: $white;
        transition: all 0.3s ease-in-out;
        // hover effect
        &:hover {
          transform: translateY(-5px) scale(1.02) rotate(-2deg);
        }
        // icon
        .skill-card__icon {
          @include flex-center;

          // skill icon
          .skill-icon {
            font-size: $font-size-32;
          }
        }

        // name
        .skill-card__name {
          // name style
          margin-top: auto;
          font-weight: $fw-semibold;
          color: $gray-700;
          font-size: $font-size-16;
          text-align: center;
        }
      }
    }
  }
}

// end skills section
