@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

// start skills section
.skills {
  width: 100%;

  // main container
  .container {
    @include container;

    // header
    .skills__header {
      @include header_section;
    }

    // content
    .skills__content {
      padding: $space-16 0;
      position: relative;
      z-index: 1;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
      gap: $space-16;

      // skill card
      .skill-card {
        cursor: pointer;
        @include flex-column;
        align-items: center;
        padding: $space-24 $space-8;
        border-radius: $radius-md;
        border: solid 1px $gray-300;
        background-color: $white;
        transition: all 0.3s ease-in-out;
        width: 130px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        // icon
        .skill-card__icon {
          @include flex-center;
          position: relative;
          transition: inherit;

          // skill icon
          svg {
            position: relative;
            transition: all 0.3s ease-in-out;
            font-size: $font-size-28;
            color: $gray-600 !important;
            z-index: 2;
          }
        }

        // name
        .skill-card__name {
          // name style
          margin-top: auto;
          font-weight: $fw-regular;
          color: $gray-600;
          font-size: $font-size-14;
          text-align: center;
        }

        // hover effect
        &:hover {
          .skill-card__icon {
            filter: drop-shadow(0 0 15px var(--skill-color));
            svg {
              outline: none !important;
              border: none !important;
              box-shadow: none !important;
              margin-top: -8px;
              color: var(--skill-color) !important;
            }
          }
        }
      }
    }
  }
}

// end skills section
