@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

// Hero Image Modal Styles
.hero-image-overlay {
  position: fixed;
  inset: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.209);
  backdrop-filter: blur(20px);
  @include flex-center;

  .hero-image-modal,
  .about__image {
    @include flex-center;
    position: relative;
    max-width: 800px;
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 15px;
    overflow: hidden;

    &__image,
    img {
      width: 100%;
      border-radius: 15px;
      object-fit: cover;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s ease;
    }
  }
}
