@use "variables" as *;

// Typography
@mixin heading-1 {
  font-size: clamp($font-size-28, 5vw, $font-size-40);
  font-weight: $fw-bold;
  line-height: $line-height-tight;
}

@mixin heading-2 {
  font-size: clamp($font-size-20, 3vw, $font-size-28);
  font-weight: $fw-semibold;
  line-height: $line-height-tight;
}

@mixin heading-3 {
  font-size: clamp($font-size-18, 2.5vw, $font-size-24);
  font-weight: $fw-semibold;
  line-height: $line-height-tight;
}

@mixin body-text {
  font-size: clamp($font-size-16, 1.9vw, $font-size-18);
  line-height: $line-height-relaxed;
}

@mixin subtitle {
  font-size: clamp($font-size-12, 2.5vw, $font-size-16);
  font-weight: $fw-regular;
  color: $color-text-light;
  line-height: $line-height-relaxed;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  opacity: 0.9;
}

// Flexbox
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// Container
@mixin container {
  max-width: 767px;
  margin: 0 auto;
  padding: $space-32 0;
  position: relative;

  @media (max-width: $breakpoint-md) {
    width: 100%;
    max-width: 100%;
    // padding: $space-20 0;
  }
}

@mixin section {
  width: 100%;
  background-color: $white;
}

// Hover effects
@mixin hover-scale($scale: 1.05) {
  transition: transform $transition-base ease;

  &:hover {
    transform: scale($scale);
  }
}

@mixin skillPosition($top: 0%, $left: 0%, $rotate: 0deg) {
  top: $top;
  left: $left;
  transform: rotate($rotate);
}

// Section Header Style
@mixin section-header-style {
  font-size: $font-size-48 + 1rem;
  font-weight: $fw-bold;
  color: $color-primary;
}

@mixin sweep-hover($bg-color, $duration: 0.3s, $display: block) {
  &::before {
    content: "";
    display: $display;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, $bg-color, transparent);
    transition: left $duration ease-out;
    z-index: 50;
  }
  &:hover::before {
    left: 100%;
  }
}

// Text Mixins
@mixin text-gradient {
  background: linear-gradient(135deg, $color-primary, $color-primary-500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@mixin section-title {
  font-size: $font-size-48;
  font-weight: $fw-bold;
  color: $color-primary;
  text-align: center;
  margin-bottom: $space-40 + 2rem;
  @media (max-width: $breakpoint-lg) {
    font-size: clamp($font-size-32, 4vw, $font-size-48 + 1rem);
  }
}

@mixin header_section {
  width: fit-content;
  font-size: clamp($font-size-10, 1.5vw, $font-size-12);
  font-weight: 100;
  color: $gray-400;
  background-color: $gray-100;
  border-radius: 5px;
  padding: 4px 8px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin next-button-style {
  @include flex-center;
  gap: $space-8;
  transition: all 0.3s ease-in-out;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $gray-700;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
  }

  svg {
    all: unset;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    color: $gray-700;

    &::after {
      transform: scaleX(1);
      transform-origin: left;
    }

    svg {
      transform: translateX(-3px);
      rotate: 45deg;
      color: inherit !important;
    }
  }
}
