@use "variables" as *;

// --- Dark theme (default) ---
:root,
html[data-theme="light"] {
  --black: #{$black};
  --white: #{$white};

  --gray-950: #{$gray-950};
  --gray-900: #{$gray-900};
  --gray-800: #{$gray-800};
  --gray-700: #{$gray-700};
  --gray-600: #{$gray-600};
  --gray-500: #{$gray-500};
  --gray-400: #{$gray-400};
  --gray-300: #{$gray-300};
  --gray-200: #{$gray-200};
  --gray-100: #{$gray-100};
  --gray-50: #{$gray-50};
}

// --- Light theme ---
html[data-theme="dark"] {
  --black: #{$white};
  --white: #{$black};

  --gray-950: #{$gray-50};
  --gray-900: #{$gray-100};
  --gray-800: #{$gray-200};
  --gray-700: #{$gray-300};
  --gray-600: #{$gray-400};
  --gray-500: #{$gray-500};
  --gray-400: #{$gray-600};
  --gray-300: #{$gray-700};
  --gray-200: #{$gray-800};
  --gray-100: #{$gray-900};
  --gray-50: #{$gray-950};
  --theme-logo-filter: invert(1) brightness(1.2) contrast(1.2);
}
