@use "../../../assets/styles/variables" as *;
@use "../../../assets/styles/mixins" as *;

.hero__social {
  // background-color: red;
  // width: 15% !important;
  position: absolute;
  top: $space-4;
  // left: $space-8;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  a {
    @include flex-center;
    width: 35px;
    aspect-ratio: 1/1;
    background-color: $color-gray-700;
    color: #eee;
    font-size: 19px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    opacity: 0.9;

    &:hover {
      background-color: var(--social-color);
      scale: 1.1;
      opacity: 1;
    }
  }

  @media (max-width: 900px) {
    a {
      width: 28px;
      font-size: $font-size-16;
    }
  }

  @media (max-width: $breakpoint-md) {
    position: absolute;
    top: 5px;
    right: -5px;
    z-index: 15;
    display: none;

    a {
      width: 25px;
      font-size: $font-size-14;
    }
  }

  &.mobile {
    display: none;
    @media (max-width: $breakpoint-md) {
      display: flex;
      width: 15%;
      right: $space-16;
      a {
        width: 40px;
        font-size: 20px;
      }
    }
  }
}
