// @use "../../assets/styles/variables" as *;
// @use "../../assets/styles/mixins" as *;

// .background-container {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   z-index: 1;
//   overflow: hidden;
//   transform: translateZ(0);
//   pointer-events: none;
//   will-change: transform;
// }

// .background-box {
//   position: absolute;
//   border-radius: $radius-lg;
//   opacity: 0.1;
//   filter: blur(0.5px);
//   box-shadow: $color-shadow-card;
//   border: 1px solid rgba(45, 55, 72, 0.1);

//   &.box-1 {
//     background: linear-gradient(
//       135deg,
//       $color-primary 0%,
//       $color-primary-500 100%
//     );
//     width: 80px;
//     height: 80px;
//   }

//   &.box-2 {
//     background: linear-gradient(
//       135deg,
//       $color-text-muted 0%,
//       $color-text-light 100%
//     );
//     width: 120px;
//     height: 120px;
//   }

//   &.box-3 {
//     background: linear-gradient(
//       135deg,
//       $color-primary-500 0%,
//       $color-text-muted 100%
//     );
//     width: 100px;
//     height: 100px;
//   }

//   &.box-4 {
//     background: linear-gradient(
//       135deg,
//       $color-text-light 0%,
//       $color-primary 100%
//     );
//     width: 60px;
//     height: 60px;
//   }
// }

// // Responsive design
// @media (max-width: $breakpoint-lg) {
//   .background-box {
//     opacity: 0.15;

//     &.box-1 {
//       width: 70px;
//       height: 70px;
//     }

//     &.box-2 {
//       width: 100px;
//       height: 100px;
//     }

//     &.box-3 {
//       width: 85px;
//       height: 85px;
//     }

//     &.box-4 {
//       width: 55px;
//       height: 55px;
//     }
//   }
// }

// @media (max-width: $breakpoint-md) {
//   .background-box {
//     opacity: 0.12;
//     filter: blur(1px);

//     &.box-1 {
//       width: 60px;
//       height: 60px;
//     }

//     &.box-2 {
//       width: 80px;
//       height: 80px;
//     }

//     &.box-3 {
//       width: 70px;
//       height: 70px;
//     }

//     &.box-4 {
//       width: 50px;
//       height: 50px;
//     }
//   }
// }

// @media (max-width: $breakpoint-sm) {
//   .background-box {
//     opacity: 0.1;
//     filter: blur(1.5px);

//     &.box-1 {
//       width: 40px;
//       height: 40px;
//     }

//     &.box-2 {
//       width: 60px;
//       height: 60px;
//     }

//     &.box-3 {
//       width: 50px;
//       height: 50px;
//     }

//     &.box-4 {
//       width: 35px;
//       height: 35px;
//     }
//   }
// }
